{"filter":false,"title":"package.config","tooltip":"/BS/.ebextensions/package.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":3,"column":21},"action":"insert","lines":["packages: ","  yum:","    python3-devel: []","    mariadb-devel: []"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":21},"end":{"row":3,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1681386544430,"hash":"4674385a30e28460426c15ec5ead9cdb10974b29"}